@model ServiceIT.Models.tblTicketData

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script language="javascript" type="text/javascript">
     $(function() {
         $("#firstDropDownId").change(function () {

             $("#ddlReq").empty();

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("GetReqNameByDepartment", "TicketData"))",
                    dataType : 'json',
                    data: { DepartmentName: $("#firstDropDownId").val()},
                    success: function (data) {                     
                        $.each(data, function(i, item) {
                            $("#ddlReq").append('<option value="' + data[i] + '">' + data[i] + '</option>');
                        });

                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                        alert('Failed to retrieve Employee names.');

                    }
                });
            });
        });
</script>


<h2>Enter your request details here</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               
                @Html.DropDownListFor(model => model.DepartmentName, ViewBag.DList as SelectList, new { @class = "form-control", id = "firstDropDownId" })
                @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestedBy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RequestedBy, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", @id = "ddlReq" })
                @Html.ValidationMessageFor(model => model.RequestedBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { style = "width: 600px; height: 150px;", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />



            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
